input, select, textarea {
    &.form__control {
        @apply .appearance-none .block .w-full .bg-white .text-gray-700 .border .border-gray-400 .rounded .px-3 .py-1 .leading-loose;

        &--sm {
            @apply py-1 px-1 leading-tight text-xs;
        }

        &:focus {
            @apply .outline-none .shadow;
        }

        &.form__error {
            @apply .border-red-200 .border-2;
        }

        &.font-mono {
            @apply .text-sm;

            height: 42px;
        }

        &:read-only, &:disabled {
            @apply .bg-gray-200;

            &:focus {
                @apply .shadow-none;
            }
        }
    }
}

select {
    &.form__control {
        @apply .pr-8;
    }
}

.form__field {
    @apply mb-6;
}

.form__help {
    @apply text-xs px-1 pt-1;
}

.form__select {
    &-button.form__error {
        @apply .border-red-200 .border-2;
    }
}

.form__checkbox {

    &-label {
        @apply ml-2 text-sm;
    }

    &-box {
        @apply text-blue-500 border-2 border-gray-400 bg-white inline-block appearance-none shadow-none align-middle flex-shrink-0 mr-1;

        height: 1em;
        width: 1em;
        background-origin: border-box;
        user-select: none;
        color-adjust: exact;

        &:focus {
            @apply outline-none;
        }

        &:focus:not(:checked) {
            @apply border-blue-400;
        }

        &:checked {
            background-color: currentColor;
            border-color: currentColor;
            background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIGZpbGw9IiNmZmYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUuNzA3IDcuMjkzYTEgMSAwIDAgMC0xLjQxNCAxLjQxNGwyIDJhMSAxIDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEw3IDguNTg2IDUuNzA3IDcuMjkzeiIvPjwvc3ZnPg==");
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        &::-ms-check {
            @media not print {
                @apply text-transparent rounded-none;
                background: inherit;
                border-color: inherit;
            }
        }
    }

    &-group {
        @apply flex flex-wrap w-full mb-6;

        &--column {
            @apply flex-col;
        }
    }
}

.form__radio {
    &-group {
        &--inline {
            @apply .inline-flex my-3;

            label {
                @apply mr-4;
            }
        }
    }
}

.form__radio, .form__checkbox {
    &--help {
        label {
            @apply mb-1;
        }
    }

    .form__help {
        @apply mb-2 pl-0 pt-0;
    }
}

.form__label {
    @apply .block .uppercase .tracking-wide .text-gray-700 .text-xs .font-bold .mb-2;
}

.form__control--meta {
    @apply .text-sm .mt-1 .flex .justify-between;

    span {
        @apply .block;
    }

    .form__error--message {
        @apply .text-red-500;
    }

    > .form__help {
        @apply .text-gray-700 .italic;
    }

    > .form__password {
        @apply .ml-2 .flex-none;
    }
}

.form__group {
    @apply .mb-6;

    &:last-child {
        @apply .mb-0;
    }
}

.form__select-group {
    @apply relative;

    &:after {
        @apply pointer-events-none absolute inset-y-0 flex items-center px-2 mr-3 right-0 text-gray-700 bg-no-repeat bg-center;

        content: '';
        background-image: url("data:image/svg+xml,%3Csvg class='fill-current' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'%3E%3C/path%3E%3C/svg%3E");
    }
}

.input__group {
    @apply .flex .flex-wrap .items-stretch .w-full .mb-6 .relative;

    > .form__control {
        @apply .flex-shrink .flex-grow .flex-auto .w-px .flex-1 .rounded-r-none .relative;

        &:focus {
            @apply .border-r-0;
        }
    }   
}

.input__group--append {
    @apply .flex .-mr-px;

    > .button {
        @apply .flex .items-center .rounded .rounded-l-none .whitespace-no-wrap .shadow-none .bg-white .text-gray-700;

        &:focus {
            @apply .outline-none .shadow;
        }
    }
}