.DS_Store
.env
.installed
/.idea
/node_modules
/storage/backups/*
/storage/github/*
/storage/logs/*
/storage/settings/*
/storage/temp/*
/storage/uploads/*
/storage/laravel.log
/storage/*.sqlite
/storage/*.index
/storage/*.key
/tests/report
/vendor
/workbench
npm-debug.log
yarn-error.log
composer.lock
settings.json