/node_modules
/public/hot
/public/addons
/public/storage
/public/theme
/public/vendor/fusion
/config/fusion.php
/storage/*.key
/storage/*.json
/addons
/templates
/themes
/vendor
.DS_Store
.env
.env.backup
.idea
.installed
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log