/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.json
/vendor
.DS_Store
.env
.env.backup
.idea
.installed
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log