.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid a {
    transition: all .1s ease-in;
}

.grid a:hover {
    @apply shadow-lg;
}