$max-width: 1200px;
$show_media_queries: false;

@mixin media-query-helper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: .5em .75em;
  font-family: monospace;
  font-size: 1.125em;

  @apply .rounded-tr .shadow .bg-black .text-secondary .leading-loose;
}

@if $show_media_queries == true {
  body {
    &:before {
      @include media-query-helper;

      $breakpoints: (
        DEFAULT: 0,
        SM: 576px,
        MD: 768px,
        LG: 992px,
        XL: 1200px,
        XXL: 1600px,
        XXXL: 1800px,
      );

      @each $label, $break in $breakpoints {
        @media screen and (min-width: $break) {
            content: "#{$label} (#{$break})";
        }
      }
    }
  }
}