.file-manager {
  &__dropzone {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(black, .75);
    display: none;

    .vue-dropzone {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }
  &__prompt {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background-color: rgba(white, .1);
    border: dashed rgba(white, .25) 20px;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__prompt-content {
    svg {
      font-size: 64px;
      color: white;
    }
    h3 {
      color: white;
    }
  }
  &__dropzone--visible {
    display: block;
  }

  &__uploads {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 450px;
    background-color: white;
    z-index: 15;
    display: none;
  }
  &__uploads-body {
    height: auto;
    max-height: 450px;
  }
  &__uploads--visible {
    display: block;
  }
}

.file-progress {
  &__icon {
    flex: 0 1 25px;
  }
  &__bar {
    flex: 0 1 60px;
  }
  &__status {
    flex: 0 1 15px;
  }
}