.field__checkbox {
    @apply
        appearance-none
        border-gray-400
        cursor-pointer
        flex-shrink-0
        inline-block
        outline-none
        rounded-sm
        bg-white
        border
    ;

    color-adjust: exact;
    background-origin: border-box;
    height: 1.4em;
    width: 1.4em;

    &:hover {
        @apply
            border-gray-500
        ;
    }

    &:focus {
        @apply
            shadow-focus
        ;
    }

    &:checked {
        @apply
            border-transparent
            bg-gray-900
        ;

        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.checkbox__label {
    @apply
        text-gray-700
        tracking-wide
        leading-snug
        normal-case
        font-normal
        text-sm
        ml-3
    ;
}