.form__radio {
    @apply text-primary-500 rounded-full border-2 border-gray-400 bg-white inline-block appearance-none shadow-none align-middle flex-shrink-0 mr-1;

    &-label {
        @apply text-sm;
    }

    &-container {
        @apply flex items-center flex-grow-0 flex-shrink-0 p-0 m-0;

        > label {
            @apply flex items-center px-2 py-1 cursor-pointer select-none border border-gray-200 rounded;

            &:hover {
                @apply bg-primary-100 text-primary-700 border-primary-100;
            }
        }
    }

    height: 1em;
    width: 1em;
    background-origin: border-box;
    user-select: none;
    color-adjust: exact;

    &-group {
        @apply flex flex-col flex-wrap justify-center w-full mb-3;

        &--block {
            @apply my-3;
        }

        &--inline {
            @apply .max-w-full .flex .flex-wrap .my-3;

            label {
                @apply mr-4;
            }
        }
    }

    &-container > label {
        @apply align-middle;

        &:focus {
            @apply outline-none;
        }
    }

    &:focus {
        @apply outline-none;
    }

    &:focus:not(:checked) {
        @apply border-primary-400;
    }

    &:checked {
        background-color: currentColor;
        border-color: currentColor;
        background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIGZpbGw9IiNmZmYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUuNzA3IDcuMjkzYTEgMSAwIDAgMC0xLjQxNCAxLjQxNGwyIDJhMSAxIDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEw3IDguNTg2IDUuNzA3IDcuMjkzeiIvPjwvc3ZnPg==");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    &::-ms-check {
        @media not print {
            @apply text-transparent rounded-none;
            background: inherit;
            border-color: inherit;
        }
    }
}