@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Source+Sans+Pro:400,600,700');

// Tailwind
@tailwind base;
@tailwind components;

// Elements
@import "elements/button";
@import "elements/content";
@import "elements/form";
@import "elements/table";
@import "elements/transition";

// Components
@import "components/badge";
@import "components/banner";
@import "components/card";
@import "components/charts";
@import "components/dropdown";
@import "components/jumbotron";
@import "components/list";
@import "components/loader";
@import "components/modal";
@import "components/pagination";
@import "components/section_builder";
@import "components/select";
@import "components/spinner";
@import "components/tabs";
@import "components/toast";
@import "components/toggle";
@import "components/tooltip";
@import "components/treeview";
@import "components/upload";
@import "components/logs";
@import "components/color-picker";
@import "components/file-manager";

// Utilities
@tailwind utilities;

@import "utilities/helpers";
@import "utilities/patterns";

// Layout
@import "layout/containers";
@import "layout/content";
@import "layout/footer";
@import "layout/gallery";
@import "layout/grid";
@import "layout/header";
@import "layout/navbar";
@import "layout/sidebar";
@import "layout/tiles";

// Vendor
@import "vendor/draggable";
@import "vendor/flatpickr";
@import "vendor/fontawesome";
@import "vendor/nprogress";
@import "vendor/plyr";
@import "vendor/redactor";
@import "vendor/vue";
@import "../../node_modules/@simonwep/pickr/dist/themes/monolith.min.css";