.gallery {
    @apply flex flex-wrap justify-start;


    &-container {
        /* Disable text selection */
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    &-wrapper {
        @apply m-2 text-center;

        width: 100px;
        min-width: 100px;

        &--row {
            @apply flex flex-row w-full m-2 items-center justify-between;
        }
    }

    &-item {
        @apply rounded-lg overflow-hidden border-4 border-gray-200 p-2 flex items-center;

        height: 100px;
        width: 100px;
        
        &--selected {
            @apply border-secondary-500 bg-secondary-200;
        }

        &:hover {
            @apply cursor-pointer;
        }
    }

    &-image {
        @apply block w-full h-full rounded;

        object-fit: cover;
        transition: transform 200ms ease-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    &-text {
        @apply w-full text-center text-sm text-gray-800
    }

    &-subtitle {
        @apply w-full text-center text-xs text-gray-600 font-mono
    }
}

.dropzone {
    &--highlight {
        animation: pulse 3s linear infinite;
    }

    &--over {
        @apply border-4 border-primary-500;
    }
}

@keyframes pulse {
    0%   { @apply border-transparent; }
    50%  { @apply border-primary-500; }
    100% { @apply border-transparent; }
}
