.gallery {
    @apply flex flex-wrap justify-start;

    &-wrapper {
        @apply flex-initial m-3 text-center;

        width: 100px;
        min-width: 100px;

        @screen xxl {
            width: 175px;
            min-width: 175px;
        }

        &--small {
            @apply m-0;

            width: 75px;
            min-width: 75px;
        }
    }

    &-item {
        @apply w-full rounded-lg overflow-hidden border-4 border-gray-200 p-2 bg-white;

        &--small {
            @apply p-1;
        }
        
        &--selected {
            @apply border-secondary-500 bg-secondary-200;
        }

        &:hover {
            @apply cursor-pointer;
        }
    }

    &-image {
        @apply block w-full h-full rounded;

        object-fit: cover;
        transition: transform 200ms ease-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}