.header {
    @apply .bg-white .px-6 .flex .flex-row-reverse .items-center .justify-between .border-b .border-gray-300 .flex-shrink-0 .top-0 .fixed .z-10 flex-1;

    height: 55px;

  &__account {
    @apply flex items-center text-sm;

    a {
      @apply text-gray-600;

      &:hover {
        @apply text-gray-900;
      }
    }

    .dropdown__options {
      margin-top: 0;
    }
  }
}

.page-title {
    @apply .uppercase .font-semibold .text-sm .m-0 .p-0 .leading-tight;
}

.actions {
    @apply .flex;

    transform: scale(0.9);
    transform-origin: right;
}