.sidebar {
    @apply .hidden .fixed .bg-white .text-gray-500 .h-full;

    background-position: right -100px bottom -75px;
    background-image: url('/img/logo-light.svg');
    background-repeat: no-repeat;
    background-size: 400px;

    @screen lg {
        @apply .flex .flex-col;
    }

    &--opened {
        @screen lg {
            width: 250px !important;
        }
    }

    &--closed {
        @screen lg {
            width: 90px !important;
        }
    }

    .router-link-active {
        @apply text-gray-100 bg-black;
    }

    &__logo {
        @apply flex-shrink-0 flex items-center justify-center uppercase;

        height: 100px;

        &.router-link-active {
            @apply bg-white border-none;
        }

        img {
            @apply mr-3 h-10;
        }

        h1 {
            @apply .leading-none .m-0 .p-0 .text-gray-800 .text-2xl;
        }
    }

    &__container {
        @apply .flex .flex-col .flex-1;
    }

    &__nav {
        @apply .flex .flex-col .overflow-y-auto .h-full;
    }

    // &__menu {
    //     // 
    // }

    &__menu-link {
        @apply .flex .flex-1 .no-underline .text-gray-800 .justify-between .text-sm .font-semibold;

        &:hover {
            @apply .text-gray-100 bg-black .cursor-pointer;
        }
    }

    &__menu-icon {
        @apply .py-3 .flex .items-center .justify-center;

        width: 75px;
    }

    &__menu-text {
        @apply .flex .py-3 .items-center .text-sm .leading-none .tracking-wide .font-serif;
    }

    &__menu-toggle {
        @apply .flex .items-center .px-4 .text-xs;
    }

    &__menu-link-children {
        > li {
            a {
                padding-left: 75px;
            }

            .sidebar__menu-text {
                @apply .text-xs;
            }
        }
    }
}