.card {
    @apply .rounded .shadow .bg-white .relative;

    &__body {
        @apply .p-6;
    }

    &--primary {
        @apply .rounded .shadow .bg-primary;

        > p {
            @apply .text-white;
        }
    }

    &--dark {
        @apply .rounded .shadow .bg-black .text-white;

        > p {
            @apply .text-white;
        }
    }
}