.dropdown {
    @apply .relative;
}

.dropdown__button {
    @apply .inline-block .select-none .cursor-pointer .justify-center .font-semibold .py-2 .px-3 .rounded .shadow .no-underline .text-xs .bg-white .border .border-gray-400 .text-black .appearance-none .leading-tight;

    &:hover {
        @apply .bg-gray-200 .text-black;
    }

    &:focus {
        @apply .outline-none .shadow-md;
    }
}

.dropdown__options {
    @apply .mt-2 .bg-white .shadow .border .rounded .z-50 .flex .flex-col .max-w-xs .min-w-32 .shadow-md;
}

.dropdown__item {
    @apply .no-underline .block .px-4 .py-2 .text-gray-800 .bg-white .text-sm .rounded;
    
    &:hover {
        @apply .text-black .bg-gray-100 .cursor-pointer;
    }
}