.dropdown {
    @apply
        inline-flex
        align-top
        relative
    ;

    &__menu {
        @apply
            border-gray-200
            bg-white
            absolute
            rounded
            border
            shadow
            mt-1
            z-20
        ;

        min-width: 10rem;
        max-width: 18rem;
    }

    &__item,
    &__link {
        @apply
            text-left
            text-sm
            w-full
            block
            py-2
            px-4
        ;

        > .icon {
            @apply
                text-center
                mr-3
                w-5
            ;
        }
    }

    &__image {
        @apply
            mr-4
        ;
    }

    &__arrow {
        @apply
            text-center
            ml-3
        ;

        width: 1.25em !important;
    }

    &__link {
        @apply
            text-gray-700
            items-center
            flex
        ;

        &:hover {
            @apply
                text-gray-800
                bg-gray-200
            ;
        }
    }

    &__divider {
        @apply
            bg-gray-300
            border-none
            block
            my-1
        ;

        height: 1px;
    }
}