.file-manager {
  &__dropzone {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(black, .6);
    display: none;

    .vue-dropzone {
      position: absolute;
      top: 50px;
      left: 50px;
      right: 50px;
      bottom: 50px;
    }
  }
  &__dropzone--visible {
    display: block;
  }

  &__uploads {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 450px;
    /*height: 300px;*/
    height: auto;
    max-height: 450px;
    background-color: white;
    z-index: 11;
    display: none;
  }
  &__uploads--visible {
    display: block;
  }
}

.file-progress {
  
}