.toggle {
    @apply .relative .inline-flex .rounded-full .h-6 .w-12 .cursor-pointer .flex-shrink-0;

    &:focus {
        @apply .shadow-md .outline-none;
    }

    &:before {
        @apply .inline-block .rounded-full .h-full .w-full .shadow .bg-gray-100;

        content: "";
        transition: background-color 0.2s ease;
    }

    &:after {
        @apply .absolute .top-0 .left-0 .rounded-full .h-6 .w-6 .bg-white .border .border-gray-100 .shadow-md;

        content: "";
        transform: translateX(0);
        transition: transform 0.2s ease;
    }

    &:checked:before {
        @apply .bg-gray-800;
    }

    &:checked:after {
        transform: translateX(1.5rem);
    }
}