// You know what you're doing.

.origin-top-right {
  transform-origin: top right;
}
.transition-all {
  transition-property: all;
}
.transition-fastest {
  transition-duration: 50ms;
}
.transition-faster {
  transition-duration: 100ms;
}
.transition-fast {
  transition-duration: 150ms;
}
.transition-medium {
  transition-duration: 200ms;
}
.ease-out-quad {
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}
.ease-in-quad {
  transition-timing-function: cubic-bezier(.55, .085, .68, .53);
}
.scale-70 {
  transform: scale(.7);
}
.scale-100 {
  transform: scale(1);
}

.dropdown {
    @apply .relative;
}

.dropdown__button {
    @apply .inline-block .select-none .cursor-pointer .justify-center .font-semibold .py-2 .px-3 .rounded .shadow .no-underline .text-xs .bg-white .border .border-gray-400 .text-black .appearance-none .leading-tight;

    &:hover {
        @apply .bg-gray-200 .text-black;
    }

    &:focus {
        @apply .outline-none .shadow-md;
    }
}

.dropdown__options {
    @apply .mt-2 .bg-white .shadow .border .rounded .z-50 .flex .flex-col .shadow-md;

    min-width: 8rem;
    max-width: 12rem;
}

.dropdown__item {
    @apply .no-underline .block .px-4 .py-2 .text-gray-800 .bg-white .text-sm .rounded;
    
    &:hover {
        @apply .text-black .bg-gray-100 .cursor-pointer;
    }
}