.block-editor {
  @apply .bg-white .text-gray-700 .border .border-gray-400 .rounded .px-3 .py-1 .relative;

  .ce-block {
    @apply .border-dashed .border .border-transparent .mb-3;
    
    padding: 15px 10px 15px 40px;

    &:hover, &:focus {
      @apply .border-gray-300;
    }

    &__content {
      max-width: none;
    }
  }
  .ce-header {
    margin-bottom: 0!important;
    padding: 0;
  }
  .ce-toolbar {
    left: 10px;
    &__plus {
      left: -30px;
    }
  }
  .cdx-block:not(.cdx-list) {
    padding: 0;
  }
  .ce-settings {
    bottom: 55px;
    top: initial;
    &:before {
      top: initial;
      bottom: -7px;
    }
  }

  &__add {
    @apply .absolute .border-dashed .border .border-gray-300 .py-3 .text-center .z-10 .block .text-gray-500;
    left: .75rem;
    right: .75rem;
    bottom: .75rem;
    &:hover, &:focus {
      @apply .bg-gray-100;
    }
  }

  .codex-editor__redactor {
    padding-bottom: 65px!important
  }
}