.buttons {
    @apply .flex .flex-wrap .items-center;

    > .button {
        @apply  .mb-6;
    }

    > .button:not(:last-child) {
        @apply .mr-3;
    }
}

.button {
    @apply .cursor-pointer .inline-flex .py-2 .px-3 .rounded .no-underline .bg-white .border .border-gray-400 .text-gray-700 .appearance-none .leading-tight .items-center;

    height: 42px;

    &:hover {
        @apply .bg-gray-200 .text-black;
    }

    &:focus {
        @apply .outline-none .shadow-md;
    }

    &--small {
        @apply .text-xs;
    }

    &--large {
        @apply .text-lg;
    }

    &--primary {
        @apply .bg-primary-500 .text-white .border-0;

        &:hover {
            @apply .bg-primary-600 .text-white;
        }
    }

    &--secondary {
        @apply .bg-secondary-500 .text-white .border-0;

        &:hover {
            @apply .bg-secondary-600 .text-white;
        }
    }

    &--info {
        @apply .bg-info-500 .text-white .border-0;

        &:hover {
            @apply .bg-info-600 .text-white;
        }
    }

    &--success {
        @apply .bg-success-500 .text-white .border-0;

        &:hover {
            @apply .bg-success-600 .text-white;
        }
    }

    &--warning {
        @apply .bg-warning-500 .border-0;

        &:hover {
            @apply .bg-warning-600;
        }
    }

    &--danger {
        @apply .bg-danger-500 .text-white .border-0;

        &:hover {
            @apply .bg-danger-600 .text-white;
        }
    }

    &--disabled {
        @apply .opacity-50 .pointer-events-none;
    }
}