h1, h2, h3, h4, h5, h6 {
    @apply .mb-3 .text-black .font-bold .font-serif;

    &:not(:first-child) {
        @apply .mt-2;
    }
}

p {
    @apply .mb-6 .text-gray-800;

    &:last-child {
        @apply .mb-0;
    }
}

a {
    @apply .no-underline .text-secondary-600;

    &:hover {
        @apply .text-secondary-800;
    }
}

hr {
    @apply border-none border-b border-dashed my-6 block;
}

code {
    @apply .bg-gray-200 .text-sm .px-2 .py-1 .rounded;
}