table {
    @apply .border-0 .w-full .relative;
    border-collapse: collapse;

    thead {
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
    }

    th, td {
        @apply .py-3 .px-6;
    }

    tr {
        @apply border-b-4 border-grey-light block mb-3;
    }

    td {
        @apply .border-b .border-grey-light .block .text-right;
    }

    td::before {
        @apply .float-left .font-semibold;

        content: attr(data-label);
    }

    // &.loading {
    //     &::before {
    //         content:"";
    //         display: block;
    //         height: 100%;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         background-color: rgba(255, 255, 255, .5);
    //     }
    // }
}

@screen md {
    table {
        display: table;

        thead {
            @apply .text-left .w-full .h-auto .m-0 .p-0 .relative .border-b-4 .border-grey-lighter;

            display: table-header-group;
        }

        tr {
            @apply .border-0;
            display: table-row;
        }

        th, td {
            @apply .text-left border-0;

            display: table-cell;
        }

        tbody {
            display: table-row-group;
        }

        td::before {
            content: "";
        }
    }
}

.sortable {
    cursor: pointer;
    user-select: none;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: .6;

    &--asc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #222;
    }
    
    &--desc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #222;
    }
}